$primary-color: #007bff;

.header1 {
  background-color: $primary-color;
  color: white;
  font-size: 24px;
  padding: 20px;
}

.footer1 {
  background-color: $primary-color;
  color: white;
  font-size: 18px;
  padding: 10px;
}
